<?xml version="1.0" encoding="utf-8"?>
<fonts>
	<font>
		<file_name>OldSansBlack.ttf</file_name>
		<point_size>16</point_size>
		<variants>
			<variant>
				<name>default16</name>
				<color>
					<r>255</r>
					<g>255</g>
					<b>255</b>
					<a>255</a>
				</color>
				<bold>0</bold>
			</variant>
		</variants>
	</font>
	<font>
		<file_name>OldSansBlack.ttf</file_name>
		<point_size>24</point_size>
		<variants>
			<variant>
				<name>default24</name>
				<color>
					<r>255</r>
					<g>255</g>
					<b>255</b>
					<a>255</a>
				</color>
				<bold>0</bold>
			</variant>
		</variants>
	</font>
</fonts>